<div class="wrapper-center" >
    <form class="container" >
        <div class="row" >
            <div class="col s12 m12 l12" >
                <h2>{{ 'navigation.banner' | translate }}</h2>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m12 l12" >
                <div class="input-field" >
                    <input type="text" ng-model="banner.title" ng-class="{ 'not-empty': !!banner.title }" />
                    <label>{{ 'banner.title' | translate }}</label>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m12 l12" >
                <div class="input-field" >
                    <input type="text" ng-model="banner.url" ng-class="{ 'not-empty': !!banner.url }" />
                    <label>{{ 'banner.url' | translate }}</label>
                </div>
            </div>
        </div>
    </form>
</div>