// ----------------------------------------------------------------------------
// base color
$yellow-grey: #f5f0d7;
$red:         #E58067;
$black:       #34495E;
$light-blue:  #CBE4FB;
$dark-grey:   #444;
$blue:        #34A6FF;
$orange:      #fe8800
