// ----------------------------------------------------------------------------
// variables
$col: 12;

// ----------------------------------------------------------------------------
// grid sytem
body .row {
    @for $i from 1 through $col {
        & > .col {
            &.s#{$i}, &.m#{$i}, &.l#{$i} {
                float: left;

                width: #{ 100% / $col * $i };
            }

            &.offset-s#{$i}, &.offset-m#{$i}, &.offset-l#{$i} {
                margin-left: #{ 100% / $col * $i };
            }
        }
    }
}