// ----------------------------------------------------------------------------
// base color
$yellow-grey:   rgba( 245, 240, 215, 1 );
$red:           rgba( 229, 128, 103, 1 );
$black:         rgba( 52, 73, 94, 1 );
$light-blue:    rgba( 203, 228, 251, 1 );
$grey:          rgba( 68, 68, 68, 0.8 );
$dark-grey:     rgba( 68, 68, 68, 1 );
$blue:          rgba( 52, 166, 255, 1 );
$dark-blue:     rgba( 0, 138, 245, 1 ) ;
$orange:        rgba( 254, 136, 0, 1 );
$white:         rgba( 255, 255, 255, 1 );
$green:         rgba( 22, 217, 67, 1 );

$body-bg-color: $white;

// ----------------------------------------------------------------------------
// media queries
$small:  640px;
$medium: 1280px;
$large:  1920px;

$mq-small: (max-width: $small);
$mq-medium: (min-width: $small) and (max-width: $medium);
$mq-large: (min-width: $medium);

// ----------------------------------------------------------------------------
// transition
$transition-time: 0.5s;

// ----------------------------------------------------------------------------
// space (padding, margin)
$space: 6px;

// ----------------------------------------------------------------------------
// border
$border-radius: 3px;